*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.header{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(45deg, red, blue);
    color: whitesmoke;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.nav{
    width: 100%;
    
    background-color: aquamarine;
    position: fixed;
    top: 0;
}
.main{
    width: 70%;
    height: 600px;
    background-color: brown;
}
.aside{
    width: 30%;
    height: 600px;
    background-color: seagreen;
    margin-left: 70%;
    margin-top: -600px;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: black;
}
section{
    width: 100%;
    height: 100vh;
}
.section1{

    background-color: rgb(114, 3, 3);
}
.section2{
    background-color: orangered;
}
#section1{
    background-color: red;
}
#section2{
    background-color: aquamarine;
}
#section3{
    background-color: blue;
}
#section4{
    background-color: black;
}
#section5{
    background-color: yellow;
}